.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;

}

.icon-container {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: flex;

 .edit-icon, .delete-icon {
  margin-left: 5px;
  color: white;

  &:hover {
    color: gray;
  }
 }
}


.list-form {
  background-color: pink;
  padding: 20px;
  position: sticky;
  top: 20px; /* Adjust this value based on your header/nav bar height */
  z-index: 10;
}
